@import '../../../../color';

.TaskListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $card-black;
  width: 420px;
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;

  &.Selected {
    border: $lightgray 1px solid;
  }
}
