.AddTaskCard{
  background: #23262C;
  width: 420px;
  border-radius: 20px;
  padding: 20px;
  display:flex;
  gap: 16px;
  cursor: pointer;
}

.AddADoit {
  color: lightgray;
  display: flex;
  align-items: center;
}
