.TodoList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.TodoItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DeleteButton{
  color: lightgray;
}
