@import '../../color';

.TaskInfo {
  display: flex;
  //width: 420px;
  //border-radius: 20px;
  //padding: 20px;
  gap: 16px;
}

.Avatar {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blueviolet;
  border-radius: 100%;
  border: white solid 1px;
}

.Text {
  display: flex;
  flex-direction: column;
}

.PersonaTodoes {
  color: white;
}

.Discription {
  margin-top: 16px;
  color: rgba(211, 211, 211, 0.69);
}
