.CreateNewTaskForm {
  width: 100%;
  gap: 16px;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ContainerForButton {
  justify-content: flex-end ;
  display: flex;
  gap: 16px;
}

.ContainerForAvatarAndInputs {
  display: flex;
  gap: 16px;
}
